	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Registro</h3>
                        <form 
                        (ngSubmit)="onSubmit(f)"
                        #f="ngForm"
                        class="row login_form needs-validation"
                        novalidate 
                        >
							<div class="col-md-12 form-group">
                                <input 
                                type="text" 
                                class="form-control"                                 
                                placeholder="Nombre" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Nombre'"
                                [(ngModel)]="user.nombre"
                                name="nombre"
                                required
                                data-toggle="tooltip"
                                title="Ingresa Solo tu nombre">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input 
                                type="text" 
                                class="form-control" 
                                placeholder="apellidos" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'apellidos'"
                                [(ngModel)]="user.apellido"
                                name="apellido"
                                required
                                minlength="3"
                                data-toggle="tooltip"
                                title="Ingresa tus Apellidos">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input 
                                type="numbers" 
                                class="form-control" 
                                placeholder="Numero Cedula" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Numero Cedula'"
                                [(ngModel)]="user.dni"
                                name="dni"
                                required
                                minlength="5"
                                data-toggle="tooltip"
                                title="Ingresa tu numero de cedula">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input 
                                type="numbers" 
                                class="form-control" 
                                placeholder="Numero de contacto" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Numero de contacto'"
                                [(ngModel)]="user.telefono"
                                name="telefono"
                                required
                                minlength="6"
                                data-toggle="tooltip"
                                title="Ingresa numero de contacto">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input 
                                type="mail" 
                                class="form-control" 
                                placeholder="Correo" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Correo'"                                
                                [(ngModel)]="user.correo"
                                name="correo"
                                required
                                minlength="3"
                                data-toggle="tooltip"
                                title="Ingresa correo electronico">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
							</div>
							<div class="col-md-12 form-group">
                                <input 
                                type="password" 
                                class="form-control"
                                placeholder="Contraseña" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Contraseña'"                                
                                [(ngModel)]="user.contrasena"
                                name="contrasena"
                                required
                                minlength="4"
                                data-toggle="tooltip"
                                title="Ingresa contraseña">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input 
                                type="password" 
                                class="form-control" 
                                placeholder="Confirmar Contraseña" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Confirmar Contraseña'"
                                required
                                minlength="4"
                                data-toggle="tooltip"
                                title="Confirma Contraseña">
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>
                            <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector" required>
									<label for="f-option2"> Acepto los Términos de servicio</label>                                    
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Registrarse</button>								
                            </div>                            
						</form>
					</div>
                </div>
                <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="assets/img/front/bogota.jpg" alt="">
						<div class="hover">
							<h4>Ya tienes una cuenta!</h4>
							<p>Compra en La Mejor Feria</p>
							<a class="primary-btn" routerLink="/login" >iniciar sesión</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->	
