<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>

    </div>
</section>
<!-- End Banner Area -->
<div class="row justify-content-center">
  <div class="col-lg-6 text-center">
      <div class="section-title">
          <h1>Productos en tendencia</h1>
          <p>Compra productos en tendencia</p>
      </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row justify-content-center align-items-center">
  <!-- single product -->
  <div *ngFor = "let product of getproducts; let index=index; let odd=odd; let even=even;" class="col-lg-3 col-md-6">
    <div  class="single-product cards-1">
        <a [routerLink]="['/infoProducto', product.id]"><img class="grande"  src="{{ product.Recursos }}" alt=""></a>
        <div *ngIf="product.bandera" [ngClass]=" product.banderaoffer  ? 'tx-box-feria' :  'tx-box'">
        <div class="tx-tag">{{product.namebandera}}</div>
      </div>
        <div class="product-details">
            <div class="card_content">
              <h2 class="card_title">{{ product.NombreProducto }}</h2>
              <p class="card_text">{{ product.NombreTienda }}</p>
              <h6 class="card_text">{{ product.price | currency : 'USD' : 'symbol' : '1.0-0' }}</h6>
              <button [routerLink]="['/infoProducto', product.id]" class="btn2 card_btn">Ver Producto</button>
              <button (click)="addShoppingCart(product, 1)" class="btn2 card_btn">Añadir al Carrito</button>
              <div class="prd-bottom">
              </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
