
<!-- start features Area -->


<div class="features-area section_gap" >
<div class="categories-container">
  <div class="row justify-content-center">
  <div class="col-lg-6 text-center">
  <div class="section-title">
    <h1>CATEGORIAS</h1>
    <p>Seleccione la categoria que desees</p>
  </div>
</div>
</div>
  <div class="category-list single-features">
    <div  class="category-item"*ngFor = "let categoria of getcategorias">
      <div>
        <div>
            <img class="mediano" src="{{ categoria.imagen }}" alt="">
        </div>
        <h6 class="page-h6"  style="color:#ffffff;">{{ categoria.nombre }}</h6>
    </div>
    </div>
  </div>
</div>
</div>
<!-- end features Area -->

<div class="">
    <div class="single-product-slider">
      <div class="container">
      </div>
  </div>
</div>
