
<div class="features-area section_gap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 text-center">
          <div class="section-title">
              <h3>Ofertas Relampago</h3>
              <p>Ofertas en tiempo real</p>
              <div class="coming-soon">
                <div class="time-countdown">
                    <ul>

                        <li class="count-bg-two radiusr"><span id="hours">{{hours}}</span>Horas</li>
                        <li class="count-bg-three radiusr"><span id="minutes">{{minutes}}</span>Minutos</li>
                        <li class="count-bg-four radiusr"><span id="seconds">{{seconds}}</span>Segundos</li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
      <div  class="row">
        <!-- single product -->
        <div *ngFor = "let product of getproducts; let index=index; let odd=odd; let even=even;" class="col-lg-3 col-md-6">
            <div  class="single-product cards-1">
                <a [routerLink]="['/infoProducto', product.id]"><img class="grande" src="{{ product.Recursos }}" alt=""></a>
                <div *ngIf="product.bandera" [ngClass]=" product.banderaoffer  ? 'tx-box-feria' :  'tx-box'">
                <div class="tx-tag">{{product.namebandera}}</div>
              </div>
                <div class="product-details">
                    <div class="card_content">
                      <h2 class="card_title">{{ product.NombreProducto }}</h2>
                      <p class="card_text">{{ product.NombreTienda }}</p>
                      <h6 class="card_text">{{ product.price | currency : 'USD' : 'symbol' : '1.0-0' }}</h6>
                      <button [routerLink]="['/infoProducto', product.id]" class="btn2 card_btn">Ver Producto</button>
                      <button (click)="addShoppingCart(product, 1)" class="btn2 card_btn">Añadir al Carrito</button>
                      <div class="prd-bottom">
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>
