
<section class="features-area section_gap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 text-center">
          <div class="section-title">
              <h3>Ofertas Relampago</h3>
              <p>Ofertas en tiempo real</p>
              <div class="coming-soon">
                <div class="time-countdown">
                    <ul>

                        <li class="count-bg-two radiusr"><span id="hours">{{hours}}</span>Horas</li>
                        <li class="count-bg-three radiusr"><span id="minutes">{{minutes}}</span>Minutos</li>
                        <li class="count-bg-four radiusr"><span id="seconds">{{seconds}}</span>Segundos</li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
  </div>
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
            <article *ngFor = "let product of getproducts; let index=index; let odd=odd; let even=even;" class="row blog_item">
                <div class="col-md-3">
                    <div class="blog_info text-right">
                        <div class="post_tag">
                            <a class="active" href="#">{{ product.Categoria }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="blog_post">
                        <img class="grande" src="{{ product.Recursos }}" alt="">
                        <div class="blog_details">
                            <h3>{{ product.NombreProducto }}</h3>
                            <p>{{ product.descripcion }}</p>
                            <h3 type="number">{{ product.price | currency }}</h3>
                            <a style="cursor:pointer" (click)="addShoppingCart(product, 1)" class="white_bg_btn">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>

            </article>

        </div>

    </div>
    </div>
  </div>
</section>


