<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb2">
  <div class="container">
  </div>
</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->

<div class="contact_area section_gap_bottom organic-breadcrumb2">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <div class="section-title">
            <h3>Ferias | Comerzio</h3>
            <p></p>
        </div>
    </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact_info blog_right_sidebar">
          <div class="info_item">
            <i class="lnr lnr-thumbs-up"></i>
            <aside class="single_sidebar_widget search_widget">
              <div class="input-group align-content-center">
                <h6>Stories Time</h6>
                <p>Comerzio | Historias de Tiendas</p>
              </div><!-- /input-group -->
              <div class="br2"></div>
          </aside>
          </div>
          <div class="scroll example">
            <div class="info_item">
              <aside class="aside">
                <div class="section-top-border">
                  <div class="row">
                    <div class="col-md-">
                      <a (click)="storie()" >
                        <div class="stories__item-picture">
                          <img class="mediana" src="assets/img/front/toys.png" alt="Nombre Tienda">
                        </div>
                      </a>
                    </div>
                    <div class="col-md-8 mt-sm-20">
                      <h6>Ice Cream Store</h6>
                      <p>Subido Hace 24Horas</p>
                    </div>
                  </div>
                </div>

            </aside>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="scrollp example">
                <div class="blog_left_sidebar">
                  <div class="row features-inner">
                    <div class="cuerpo">
                      <div class="courses-container">
                        <div *ngFor = "let product of getproducts" class="course">
                          <div class="course-preview">
                            <img class="mediana2" src="{{ product.Recursos }}" alt="Nombre Tienda">
                          </div>
                          <div class="course-info">
                            <div class="progress-container">
                              <div class="progress"></div>
                              <span class="progress-text">
                                Cantidad:<p>{{ product.cantidad }}</p>
                              </span>
                            </div>
                            <h6>{{ product.NombreProducto }}</h6>
                            <h2>{{ product.descripcion }}</h2>
                            <p>{{ product.valorFeria |currency : 'USD' : 'symbol' : '1.0-0' }}</p>
                            <button class="btncompra">Añadir al Carrito</button>
                          </div>
                        </div>
                      </div>
                </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
<!--================Contact Area =================-->
<app-products></app-products>
