<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb2">
  <div class="container">
  </div>
</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
<div class="contact_area section_gap_bottom organic-breadcrumb2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact_info blog_right_sidebar">
          <div class="info_item">
            <i class="lnr lnr-thumbs-up"></i>
            <aside class="single_sidebar_widget search_widget">
              <div class="input-group align-content-center">
                <h6>Stories Time</h6>
                <p>Comerzio | Historias de Tiendas</p>
              </div><!-- /input-group -->
              <div class="br"></div>
          </aside>
          </div>
          <div class="info_item">
            <aside>
              <div class="section-top-border">
                <div class="row">
                  <div class="col-md-">
                    <a href="google.com">
                      <div class="stories__item-picture">
                        <img class="mediana" src="assets/img/front/Logo160px.jpeg" alt="Nombre Tienda">
                      </div>
                    </a>
                  </div>
                  <div class="col-md-8 mt-sm-20">
                    <h4>Charlie Barber</h4>
                    <p>Senior blog writer</p>
                  </div>
                </div>

              </div>
              <div class="br"></div>
          </aside>
          </div>
          <H6>Visto</H6>
          <div class="info_item">
            <aside>
              <div class="section-top-border">
                <div class="row">
                  <div class="col-md-">
                    <a href="google.com">
                      <div class="stories__item-picture">
                        <img class="mediana" src="assets/img/front/Logo160px.jpeg" alt="Nombre Tienda">
                      </div>
                    </a>
                  </div>
                  <div class="col-md-8 mt-sm-20">
                    <h4>Charlie Barber</h4>
                    <p>Senior blog writer</p>
                  </div>
                </div>
              </div>
              <div class="br"></div>
          </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================Contact Area =================-->
