<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-bannerinfo d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div *ngFor = "let product of products " class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ product.Recursos }}" alt="">
                    </div>
                </div>
            </div>
            <div *ngFor = "let product of products " class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ product.NombreProducto }} </h3>
                    <h2>{{ product.price | currency : 'USD' : 'symbol' : '1.0-0' }}</h2>
                    <ul class="list">
                        <li><a class="active"><span>Categoria:</span> {{ product.Categoria }}</a></li>
                        <li><a class="active"><span>Cantidad:</span>  {{ product.cantidad }} unidades</a></li>
                        <li><a class="active"><span>Tienda:</span>  {{ product.NombreTienda }}</a></li>
                    </ul>
                    <p><span></span></p>
                    <div class="product_count">
                        <label class=""for="qty">Cantidad:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">

                    </div>
                    <div class="card_area d-flex align-items-center">
                        <button class="btnInfo" (click)="addShoppingCart(product, 1)">Añadir al Carrito</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link btn btn-primary"  data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Descripción</a>
            </li>
        </ul>
        <div *ngFor = "let product of products " class="tab-content" id="myTabContent">
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  {{ product.descripcion }}
                </div>
              </div>
            </div>
            </div>
          </div>
