<!-- Start Banner Area -->
<div class="banner-area organic-breadcrumb">
  <div class="container">
      <div class="breadcrumb-bannerinfo d-flex flex-wrap align-items-center justify-content-end">
      </div>
  </div>
</div>
<!-- End Banner Area -->
<div class="sample-text-area">
  <div class="container">
    <h3 class="text-heading">Políticas de Seguridad de la Información</h3>
    <p class="sample-text">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>INTRODUCCIÓN</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">La presente Política de
Privacidad resume las prácticas llevadas a cabo por PROINVERSIONES
CZ SAS en relación a la información recopilada de los usuarios que
acceden a nuestro sitio web a través de www.comerzio.co (nuestra
plataforma digital en general) o que comparten información personal
con nosotros. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>MOTIVOS
PARA LA RECOPILACIÓN DE DATOS</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">El procesamiento de su Información
personal (es decir, cualquier información que pueda permitir su
identificación mediante medios razonables; (en lo sucesivo &quot;
Información personal &quot;) es necesario para el cumplimiento de
nuestras obligaciones contractuales con usted, además de para
proporcionarle nuestros servicios, proteger nuestros intereses
legítimos y cumplir con las legislaciones legales y financieras a
las que estamos sujetos.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Al utilizar el Sitio, da su
consentimiento a la recopilación, el almacenamiento, la utilización,
la divulgación y otros usos de su Información personal, tal y como
se describe en la presente Política de Privacidad. Recomendamos a
nuestros Usuarios que lean detenidamente la presente Política de
Privacidad y que hagan uso de ella para la toma de decisiones
fundamentadas. </FONT>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>¿QUÉ
INFORMACIÓN RECOPILAMOS?</B></FONT></P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Recopilamos
dos tipos de datos e información de los Usuarios. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>El primer tipo</B></FONT><FONT FACE="Century Gothic, serif">
corresponde a información sin identificar y no identificable
perteneciente a los usuarios, la cual puede recopilarse a través del
uso que hace del sitio (&quot; Información no personal &quot;).
Desconocemos la identidad de un usuario del que se recopiló
información no personal. Esta información puede incluir datos de
uso acumulados e información técnica proporcionada por el
dispositivo, tanto de software como de hardware (como por ejemplo el
tipo de navegador y el sistema operativo que utiliza el dispositivo,
las preferencias de idioma, la hora de acceso, etc.), a fin de
mejorar la funcionalidad de nuestro Sitio. Asimismo, también
recopilamos información acerca de su actividad en él (como páginas
visitadas, navegación web, clics, acciones, etc.).</FONT></P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>El segundo tipo</B></FONT><FONT FACE="Century Gothic, serif">
de información es la Información personal, que es la información
individualmente identificable, es decir, la información que
identifica a una persona o que puede, sin excesiva dificultad,
identificar a una persona. En esta información se incluye:</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Información
del dispositivo: recopilamos Información personal procedente del
dispositivo. Dicha información incluye datos de geolocalización,
dirección IP, identificadores exclusivos (como direcciones MAC y
UUID) y otra información relacionada con su actividad en el Sitio.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Información
sobre el registro: cuando se registre en nuestro Sitio se le pedirá
que nos proporcione ciertos datos, como su nombre y apellidos, su
dirección de correo electrónico o postal y otra información.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>¿CÓMO
RECIBIMOS LA INFORMACIÓN SOBRE USTED?</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in; text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Recibimos su información personal
a raíz de diversas acciones u orígenes:</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Cuando
voluntariamente nos proporciona sus datos personales al registrarse
en nuestro Sitio o aplicación</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Cuando
utiliza nuestro Sitio o hace uso de él en relación con el uso que
hace de nuestros servicios,</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	A
partir de proveedores, servicios y registros públicos externos (como
por ejemplo proveedores de estadísticas sobre el tráfico).</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>¿QUÉ
INFORMACIÓN RECOPILAMOS?</B></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif">No
alquilamos, vendemos o compartimos la información de los Usuarios
con ninguna tercera parte salvo en los términos descritos en la
presente Política de Privacidad.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Podemos
hacer uso de la información con los siguientes fines:</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Mantener
comunicación con usted: para enviarle notificaciones relacionadas
con nuestros servicios, productos, proporcionándole información
técnica y solucionando cualquier problema de servicio al cliente que
pueda tener.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Comunicarse
con usted y mantenerlo informado acerca de nuestros servicios y
actualizaciones más recientes.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Mostrarle
anuncios cuando haga uso de nuestro Sitio.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Comercializar
y promocionar nuestros sitios web y productos.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Llevar
a cabo pruebas y estudios estadísticos y analíticos con el fin de
mejorar el Sitio.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Además
de los diferentes usos enumerados anteriormente, puede que
transfiramos o divulgamos Información personal a nuestras empresas
filiales y subcontratistas.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Aparte
de los fines enumerados en la presente Política de privacidad,
podemos compartir la Información personal con nuestros proveedores
externos de confianza, los cuales pueden estar ubicados en diferentes
jurisdicciones de todo el mundo, para cualquiera de los siguientes
fines: </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Alojar
y gestionar nuestro Sitio</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Ofrecerle
nuestros servicios, incluida una visualización personalizada de
nuestro Sitio</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Almacenar
y procesar dicha información en nuestro nombre </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Ofrecerle
anuncios y ayudarle tanto en la evaluación del éxito de nuestras
campañas publicitarias como en la reorientación de cualquiera de
nuestros usuarios</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Proporcionarle
ofertas comerciales y material promocional relacionado con nuestro
Sitio y nuestros servicios </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in">•<FONT FACE="Century Gothic, serif">	Realizar
investigaciones, diagnósticos técnicos o análisis.</FONT></P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Además, podemos divulgar la
información si tenemos la certeza de que dicha divulgación puede
resultar útil o razonablemente necesaria para: (1) cumplir cualquier
ley, normativa, proceso legal o solicitud gubernamental aplicable;
(2) aplicar nuestras políticas (incluido nuestro Acuerdo), entre
ellas cualquier investigación de posibles infracciones del mismo;
(3) investigar, detectar, evitar o llevar a cabo acciones
relacionadas con actividades ilegales u otras infracciones, sospecha
de fraude o asuntos de seguridad; (4) establecer o ejercer nuestros
derechos a defendernos frente a denuncias o reclamaciones legales;
(5) evitar cualquier daño o perjuicio sobre los derechos, la
propiedad o seguridad tanto nuestra como de nuestros usuarios, de
usted mismo o de cualquier tercera parte; o (6) colaborar con los
organismos de seguridad y/o, en caso de considerarlo necesario, hacer
cumplir la propiedad intelectual u otros derechos legales.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>DERECHOS DEL USUARIO</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Puede
solicitar: </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">1.	Recibir
confirmación de si se está procesando o no información personal
sobre usted, además de acceso a su información personal almacenada,
junto con información complementaria. </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">2.	Recibir
en un formato estructurado, de uso general y de lectura mecanizada
una copia de la información personal que nos ofrece directamente. </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">3.	Solicitar
la rectificación de su información personal de la cual tenemos
control.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">4.	Solicitar
el borrador de su información personal. </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">5.	Oponerse
al procesamiento por nuestra parte de su información personal. </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">6.	Solicitar
la restricción del procesamiento por nuestra parte de su información
personal.</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">7.	Presentar
una denuncia o reclamación a una autoridad supervisora.</FONT></P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif">No
obstante, tenga en cuenta que estos derechos no son definitivos y
pueden estar sujetos a nuestros propios intereses legítimos y
requisitos normativos. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Si desea ejercer cualquier de los
derechos mencionados anteriormente, o bien recibir más información,
pónganse en contacto con nuestro Director de Protección de Datos al
correo servicioalcliente@comerzio.co</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>RETENCIÓN DE DATOS</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Retendremos su información
personal el tiempo que resulte necesario para proporcionar nuestros
servicios, así como para cumplir nuestras obligaciones legales,
resolver disputas e implementar y hacer cumplir nuestras políticas.
Los periodos de retención se determinarán teniendo en cuenta el
tipo de información recopilada y el fin de dicha recopilación,
teniendo en cuenta los requisitos aplicables a la situación y la
necesidad de destruir en el menor tiempo posible la información
obsoleta y sin utilizar. En virtud de las legislaciones aplicables,
conservaremos registros que contengan información personal de los
clientes, documentos de apertura de cuentas, comunicaciones y
cualquier otro tipo de información requerida por las leyes y
normativas aplicables. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Podemos rectificar, reponer o
eliminar la información que no sea precisa, en cualquier momento y
según nuestro propio criterio.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>COOKIES</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Tanto nosotros como nuestros
socios de confianza utilizamos cookies y otras tecnologías en
nuestros servicios relacionados, incluidos su visita a nuestro Sitio
o el acceso a nuestros servicios. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Una &quot;cookie&quot; es una
pequeña porción de información que un sitio web asigna a su
dispositivo cuando usted lo visita o visualiza. Las cookies resultan
muy útiles y pueden utilizarse con diferentes fines, entre los que
se incluyen permitirle la navegación entre páginas de forma
eficiente, habilitar la activación automática de determinadas
funciones, recordar sus preferencias y acelerar y facilitar su
interacción con nuestros Servicios. Así mismo, las Cookies se
utilizan también para asegurarnos de que los anuncios que visualiza
son relevantes tanto para usted como para sus intereses, además de
para recopilar datos estadísticos sobre el uso que realiza de
nuestros Servicios. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">El Sitio utiliza los siguientes
tipos de cookies:</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">a.
&quot;Cookies de sesión&quot;, que se almacenan únicamente de forma
temporal durante una sesión de navegación a fin de permitir el uso
normal del sistema y que se eliminan del dispositivo al cerrar el
navegador. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">b.
&quot;Cookies persistentes &quot;, que son cookies que solo lee el
Sitio, se guardan en el equipo durante un periodo determinado y no se
eliminan al cerrarse el navegador. Este tipo de cookies se utiliza
cuando necesitamos reconocerle para futuras visitas, por ejemplo para
que podamos almacenar sus preferencias para la siguiente ocasión que
acceda. </FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Century Gothic, serif">c.
&quot;Cookies de terceros&quot;, que son las cookies que establecen
otros servicios en línea que ejecutan contenido en la página que
está visualizando, como por ejemplo empresas externas de análisis
que supervisan y analizan nuestro acceso web.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Las cookies no contienen ningún
tipo de información que le identifica personalmente, aunque puede
que vinculemos la Información personal que almacenamos de usted con
la información guardada en las cookies y obtenida de ellas. Puede
eliminar las cookies siguiendo las instrucciones de las preferencias
de su dispositivo, si bien si elige deshabilitarlas, puede que
algunas funciones de nuestro Sitio no funcionen correctamente y su
experiencia en línea se vea limitada.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Además, hacemos uso de una
herramienta llamada &quot;Google Analytics&quot; para recopilar
información acerca del uso que hace del Sitio. Google Analytics
recopila información como con qué frecuencia los usuarios acceden
al Sitio, qué páginas visitan, etc. La información que obtenemos
de esta herramienta la utilizamos únicamente con el fin de mejorar
nuestro Sitio y nuestros servicios. Google Analytics recopila la
dirección IP que se le asigna en el momento que realiza las visitas
en lugar de su nombre u otra información identificativa. No
combinamos la información recopilada a través del uso de Google
Analytics con información personalmente identificable. La capacidad
que tiene Google para usar y compartir la información recopilada por
Google Analytics acerca de sus visitas a este Sitio está limitada
por los Términos de Uso de Google Analytics y la Política de
Privacidad de Google.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>RECOPILACIÓN DE INFORMACIÓN
DE TERCEROS</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Nuestra política únicamente
aborda el uso y la divulgación de la información que recopilamos de
usted. En lo referente a la divulgación de la información que
realizar a otras partes o sitios a través de Internet, puede que se
apliquen diversas regulaciones a dicha divulgación o uso de la
información. En consecuencia, le recomendamos que lea los términos
y condiciones y la política de privacidad de cada una de las partes
a las que decida divulgar la información. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Esta Política de Privacidad no es
de aplicación a las prácticas de las empresas que no son de nuestra
propiedad o que no están bajo nuestro control, así como tampoco a
ninguna persona que no esté contratada o bajo nuestra dirección,
incluidas ninguna de las terceras partes que pueden divulgar
información como se establece en la presente Política de
Privacidad. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>¿CÓMO PROTEGEMOS SU
INFORMACIÓN?</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Ponemos especial atención a la
implementación y el mantenimiento de la seguridad tanto del Sitio
como de su información. Utilizamos procedimientos industriales y
políticas estándar para garantizar la seguridad de la información
que recopilamos y almacenamos, además de para evitar el uso no
autorizado de ella, y solicitamos a todas las terceras partes que
apliquen requisitos de seguridad similares, de conformidad con la
presente Política de Privacidad. Pese a que aplicamos medidas
razonables para asegurar la información, no podemos
responsabilizarnos de los actos de cualquiera que obtenga acceso sin
autorización o realice un mal uso de nuestro Sitio, y no otorgamos
ninguna garantía, expresa, implícita o de cualquier otra
naturaleza, que evite dicho acceso.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>ANUNCIOS</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Puede
que utilicemos tecnología publicitaria de terceros con la finalidad
de mostrar anuncios cuando acceda al Sitio. Esta tecnología utiliza
su información en relación al uso que hace de los Servicios a fin
de mostrarle anuncios (por ejemplo incluyendo cookies de terceros en
su navegador web). </FONT>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><B>MARKETING</B></FONT></P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Puede que o nosotros o a través
de nuestros subcontratistas externos hagamos uso de su Información
personal, como su nombre, su dirección de correo electrónico, su
número de teléfono, etc, con la finalidad de ofrecerle material
promocional relacionado con nuestros servicios que pensemos que puede
resultar de su interés.  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Por respeto a su derecho a la
privacidad, junto con dicho material le proporcionamos también los
medios para rechazar la recepción de nuestras ofertas comerciales.
Si anula su suscripción procederemos a eliminar de nuestras listas
de distribución comerciales su dirección de correo electrónico o
su número de teléfono. </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Tenga en cuenta que pese a haber
cancelado su suscripción para la recepción de nuestros correos
electrónicos comerciales, es posible que le enviemos por correo
electrónico otros tipos de comunicaciones importantes sin que le
ofrezcamos la opción de poder dejar de recibirlas. Entre estas
comunicaciones pueden incluirse anuncios de servicios para el cliente
o notificaciones administrativas.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>TRANSACCIÓN CORPORATIVA</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Puede que compartamos información
en el caso de producirse una transacción corporativa (como puede ser
la venta de una parte sustancial de nuestro negocio, una fusión o
una venta de activos). En tal caso, la empresa beneficiaria o
adquiriente será la que asuma los derechos y las obligaciones
descritos en la presente Política de Privacidad.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>ACTUALIZACIONES O
MODIFICACIONES EN LA PRESENTE POLÍTICA DE PRIVACIDAD.</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif">Nos reservamos el derecho a
modificar o revisar periódicamente la Política de Privacidad, cuyos
cambios se harán efectivos en el momento en el que se muestre la
Política de Privacidad revisada o modificada. La última revisión
quedará reflejada en el apartado &quot;Última modificación&quot;.
El uso continuado que realice de la Plataforma tras la notificación
de dichas modificaciones realizadas en nuestro sitio web constituye
su conocimiento y consentimiento de dichas modificaciones en la
Política de Privacidad, así como su aceptación de los términos de
dichas modificaciones.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<FONT FACE="Century Gothic, serif"><B>CÓMO CONTACTAR CON NOSOTROS</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif">Si
tiene alguna pregunta general acerca del Sitio o la información que
recopilamos de usted, así como del uso que hacemos de ella, puede
ponerse en contacto con nosotros a través de
servicioalcliente@comerzio.co</FONT></P>
  </div>
</div>
